<!DOCTYPE html>
<html dir="ltr" lang="en-US">
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <head>
       <title>{% block title %}{% endblock %} | Diamond Capital</title>
      <base  />
      <link rel="shortcut icon" href="/static/img/logo.png" />
      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      <meta name="description" content="Diamond Capital !!! Online promotions for businesses. Online money for you.">
      <meta name="keywords" content="Revenve Share, Profit Share, Online Advertising, Live Advertising, Network Marketing, Multi Level Marketng, MLM, Promotions, Rapid Promotions, Fast Promotions, High Traffic, Quality Traffic, Quality Clicks, Quality Ads, Solo Ads, Business Opportunity, Opportunity, Biz Op Traffic, Business Opportunity Traffic, Business Opportunity Clicks, Business Opportunity Ads">
      <link rel="canonical" href="/"/>
      <link rel="icon" type="image/png" href="/static/img/logo.png"/>
      <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">

      <link href="/static/home/css/cssd876.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/bootstrap.css" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/dark.css" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/style.css" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/font-icons.css" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/animate.css" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/magnific-popup.css" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/responsive.css" type="text/css"/>
      <link rel="stylesheet" href="/static/home/css/themes.css" type="text/css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      {% block css %}{% endblock %}
      
   </head>
   <body>
    <div class="wrapper">
         <header id="header" class="transparent-header page-section dark">
            <div id="header-wrap">
               <div class="container clearfix">
                  <div id="primary-menu-trigger"><img src="/static/home/images/menu_icon.png" alt="menu" height="50" width="50"></div>
                  <div id="logo">
                     <a href="/" data-dark-logo="/static/home/images/logo.png"><img src="/static/home/images/logo.png" alt=""></a>
                  </div>
                  <nav id="primary-menu">
                     <ul class="one-page-menu">
                        <li >
                           <a href="/">
                              <div>Home</div>
                           </a>
                        </li>
                        <li >
                           <a href="/about.aspx">
                              <div>About Us</div>
                           </a>
                        </li>
                        <li class='current'>
                           <a href="javascript:void(0)">
                              <div>Our Projects</div>
                           </a>
                           <ul class='nav_sub display_ul'>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/srilanka.aspx">MANUFACTURE</a>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/singapore.aspx">HOTEL RESORT</a>
                              <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/dubai.aspx">RESORTS</a> -->
                              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/other.aspx">Other</a>
                           </ul>
                        </li>
                        <li >
                           <a href="/investment.aspx">
                              <div>Investment</div>
                           </a>
                        </li>
                        <li >
                           <a href="/blog.aspx">
                              <div>Blog</div>
                           </a>
                        </li>
                        <li >
                           <a href="/contact.aspx">
                              <div>Contact Us</div>
                           </a>
                        </li>
                        <li>
                           <a href="/auth/login">
                              <div style="border-right: solid 0px #EEE;margin-right: -13px;">Login        
                                 <i class="icon-circle-arrow-right"></i>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </header>
         
      {% block main %}{% endblock %}<footer id="footer" class="dark">
            <div class="container">
               <div class="footer-widgets-wrap clearfix">
                  <div class="col_two_third">
                     <div class="col_one_third">
                        <div class="widget clearfix">
                           <img src="/static/home/images/logo.png" alt="" class="footer-logo">
                        </div>
                     </div>
                     <div class="col_one_third" style="padding-left:50px;">
                        <div class="widget widget_links clearfix">
                           <h4>QUICK LINK</h4>
                           <ul>
                              <li><a href="/srilanka.aspx">FACTORIES</a></li>
                              <li><a href="/singapore.aspx">HOTEL</a></li>
                              <li><a href="/dubai.aspx">RESORTS</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col_one_third col_last" style="padding-left:50px;">
                        <div class="widget widget_links clearfix">
                           <h4>Support</h4>
                           <ul>
                              <!-- <li><i class="fa fa-envelope"></i> info@diamondcapital.co</li> -->
                              <li>Hotline : +94 72 310 2900</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col_one_third col_last" style="padding-left:50px;">
                     <div class="widget clearfix statistics" style="margin-bottom: -20px;">
                        <div class="row">
                           <div class="col-md-12 bottommargin-sm">
                              <h4>STAY CONNECT</h4>
                              <div class="counter counter-small visitors"></div>
                              <ul class="social-icons text-center icons-design-default icons-size-default social-share ">
                                 <li class="social-telegram"><a href="https://t.me/joinchat/" target="_blank" class=""><i class="fa fa-telegram"></i>&nbsp;</a></li>
                                 <li class="social-twitter"><a href="https://twitter.com/" target="_blank" class=""><i class="fa fa-twitter"></i>&nbsp;</a></li>
                                 <li class="social-facebook"><a href="https://www.facebook.com/" target="_blank" class=""><i class="fa fa-facebook"></i>&nbsp;</a></li>
                                 <li class="social-medium"><a href="https://medium.com/" target="_blank" class=""><i class="fa fa-medium"></i>&nbsp;</a></li>
                                 <li class="social-slack"><a href="#" target="_blank" class=""><i class="fa fa-slack"></i></a></li>
                                 <li class="social-pinterest"><a href="https://www.pinterest.com/" target="_blank" class=""><i class="fa fa-pinterest"></i>&nbsp;</a></li>
                                 <li class="social-instagram"><a href="https://www.instagram.com/" target="_blank" class=""><i class="fa fa-instagram"></i>&nbsp;</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="widget subscribe-widget clearfix"></div>
                     <div class="widget clearfix" style="margin-bottom: -20px;">
                        <div class="row"></div>
                     </div>
                  </div>
                  <div class="col_full">
                     <div class="col_half nobottommargin">
                        <div style="background: url('/static/home/images/world-map.png') no-repeat center center;">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="copyrights">
               <div class="container clearfix">
                  <div class="col_half">
                     Copyrights &copy; 2016 All Rights Reserved.
                  </div>
                  <div class="col_half col_last tright">
                     <div class="fright clearfix">
                        <ul class="footer_bottom">
                           <li><a href="javascript:void(0)">Privacy</a></li>
                           <li><a href="javascript:void(0)">Security&nbsp;</a></li>
                           <li><a href="javascript:void(0)">Terms & conditions&nbsp;</a></li>
                           <li><a href="javascript:void(0)">Accessibility&nbsp;</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <div id="gotoTop" class="icon-angle-up"></div>
      <script type="text/javascript" src="/static/home/js/jquery.js"></script>
      <script type="text/javascript" src="/static/home/js/plugins.js"></script>
      <script type="text/javascript" src="/static/home/js/functions.js"></script>
      <script type="text/javascript" src="/static/home/js/storage.js"></script>
      <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:3,
                    nav:false
                },
                1000:{
                    items:5,
                    nav:true,
                    loop:false
                }
            },
            navigation: true,
            navText: ['<i class="icon-angle-left"></i>','<i class="icon-angle-right">'],
            dots: false
        })
      </script>
   </body>
</html>