.panel-body {
    background-image: url(images/bg-dash-box.jpg);
    background-repeat: repeat;
    background-position: left top;
    color: #fff;
    padding: 15px 0;
}



	
@media all and (max-width: 800px)
{
    #logo {
		display: none;
	}
	#primary-menu-trigger
       {
       display: block;
       border: 0px solid red;
    }
    #slider {
        padding-bottom: 50px;
    }
    
    .header-stick {
    margin-top: 0px!important;
    }


}

@media all and (max-width: 320px)
{
    #logo {
		display: none;
	}
	#primary-menu-trigger
    {
        display: block;
        border: 0px solid red;
    }

    #slider {
        padding-bottom: 50px;
    }


    .header-stick {
    margin-top: 0px!important;
    }


}

.my-team img { max-width:330px; max-height:300px;}

