{% extends "layout.html" %}
{% block title %}UPDATE INFORMATION{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
	

{% block main %}


<div class="section__content section__content--p30">
   <div class="card">
      <div class="card-header">
         <strong class="card-title">INFORMATION</strong>
      </div>
      <div class="card-body">
         <div class="content">
                     <div class="f-fl" style="margin-bottom: 30px">
                        <p class="step-title ng-binding">Basic Information</p>
                     </div>

                     <div class="row" style="margin-bottom: 10px">
                        <label class="col-md-2 control-label text-right" for="Comm_Type"> First Name</label>
                        <div class="col-md-6">
                           <input class="form-control" value="{{data.user['personal_info']['firstname']}}" required="true" name="firstname" type="text" >
                        </div>
                     </div>
                     <div class="row" style="margin-bottom: 10px">
                        <label class="col-md-2 control-label text-right" for="Comm_Type"> Last Name</label>
                        <div class="col-md-6">
                           <input class="form-control" value="{{data.user['personal_info']['lastname']}}" required="true" name="lastname" type="text" >
                        </div>
                     </div>
                     <div class="row" style="margin-bottom: 10px">
                        <label class="col-md-2 control-label text-right" for="Comm_Type"> Date of birth</label>
                        <div class="col-md-6">
                           <input class="form-control" value="{{data.user['personal_info']['date_birthday']}}" required="true" name="date_birthday" type="date" >
                        </div>
                     </div>

                     <div class="f-fl" style="margin-bottom: 30px; margin-top: 50px">
                        <p class="step-title ng-binding">Residential address</p>
                     </div>
                     
                     <div class="row" style="margin-bottom: 10px">
                        <label class="col-md-2 control-label text-right" for="Comm_Type"> Address</label>
                        <div class="col-md-8">
                           <textarea style="height: 60px;" class="form-control" required="true" name="address">{{data.user['personal_info']['address']}}</textarea>
                        </div>
                     </div>
                     <div class="row" style="margin-bottom: 10px">
                        <label class="col-md-2 control-label text-right" for="Comm_Type"> Postal Code</label>
                        <div class="col-md-6">
                           <input class="form-control" value="{{data.user['personal_info']['postalcode']}}" required="true" name="postalcode" type="text" >
                        </div>
                     </div>
                     <div class="row" style="margin-bottom: 10px">
                        <label class="col-md-2 control-label text-right" for="Comm_Type"> City</label>
                        <div class="col-md-6">
                           <input class="form-control" value="{{data.user['personal_info']['city']}}" required="true" name="city" type="text" >
                        </div>
                     </div>
                     <div class="row" style="margin-bottom: 10px">
                        <label class="col-md-2 control-label text-right" for="Comm_Type"> Country</label>
                        <div class="col-md-6">
                           <select class="form-control" name="country" required="required" >
                              <option value="">Please select a country</option>
                              {% for item in data.data_country %} 
                              <option {% if data.user['personal_info']['country'] == item.country_name %} selected="selected" {% endif %}
                                  data-id="{{item.dialling_code}}" value="{{item.country_name}}">{{item.country_name}}</option>
                              {% endfor %} 
                           </select>
                        </div>
                     </div>

                     
                     
                     
                  </div>
         
      </div>
   </div>
</div>



{% endblock %}

