{% extends "layout.html" %}
{% block title %}Support{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
	

{% block main %}
<div class="section__content section__content--p30">
  <div class="card">
      <div class="card-header">
         <strong class="card-title">Email Support</strong>
      </div>
      <div class="card-body">
          <p>&nbsp;<span style="font-size: 16px; caret-color: rgb(32, 32, 32); color: rgb(32, 32, 32); font-family: roboto, " helvetica="" neue",="" helvetica,="" arial,="" sans-serif;"="">If you have any questions , please feel free to get in touch via&nbsp;</span></p>
        Email: <a style="font-size: 18px;" href="mailto:support@diamondcapital.co"> support@diamondcapital.co </a>
      </div>
  </div>
</div>
{% endblock %}

