{% extends "layout_admin.html" %}
{% block title %}Edit Customer{% endblock %}

{% block js %}
    
    <script type="text/javascript">
        $('#frmChangePasswordr').click(function(evt) {
            $.ajax({
                url: "/admin/updatePassword",
                data: {
                    wallet : $('#new_wallet').val(),
                    password: $('#new_password').val(),
                    repeat_password: $('#repeat_new_password').val(),
                    user_id: $('#user_id').val(),
                    email : $('#new_email').val(),
                    telephone : $('#new_telephone').val()
                },
                type: "POST",
               
                success: function(data) {
                  
                    var data = $.parseJSON(data);
                    data.status == 'error' ? (
                        showNotification('top', 'right', data.message, 'danger')
                    ) : (
                        showNotification('top', 'right', data.message, 'success'),
                        $('#new_password').val(''),
                        $('#repeat_new_password').val('')
                    )
                }
            });
        });

        $('#UpdatesPnode').click(function(evt) {
            $.ajax({
                url: "/admin/updateSponsor",
                data: {
                    p_node: $('#p_node').val(),
                    user_id: $('#user_id').val()
                },
                type: "POST",
                success: function(data) {
                    var data = $.parseJSON(data);
                    data.status == 'error' ? (
                        showNotification('top', 'right', data.message, 'danger')
                    ) : (
                        showNotification('top', 'right', data.message, 'success')
                    )
                }
            });
        });
        $('#checkPbinary').click(function(evt) {
            $.ajax({
                url: "/admin/updatePbinary",
                data: {
                    p_binary: $('#p_binary').val(),
                    user_id: $('#user_id').val()
                },
                type: "POST",
                success: function(data) {
                    var data = $.parseJSON(data);
                    data.status == 'error' ? (
                        showNotification('top', 'right', data.message, 'danger')
                    ) : (
                        showNotification('top', 'right', data.message, 'success')
                    )
                }
            });
        });
        function showNotification(from, align, msg, type) {
                /* type = ['','info','success','warning','danger','rose','primary'];*/
                var color = Math.floor((Math.random() * 6) + 1);
                $.notify({
                    icon: "notifications",
                    message: msg
                }, {
                    type: type,
                    timer: 3000,
                    placement: {
                        from: from,
                        align: align
                    }
                });
            }
    </script>


{% endblock %}


{% block main %}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">            
               <h4 class="title">Update infomation: {{data.user['username']}}</h4>
               <form  action="/admin/customer/{{data.user_id}}" enctype="multipart/form-data" method="post">
                  <div class="content">
                     <div class="col-md-4">
                        <div class="form-group ">
                           <label class="control-label">
                              Select document   
                              <star>*</star>
                           </label>
                           <select  name="document" class="form-control" required="true">
                                <option {% if data.user['personal_info']['document'] == 'Passport' %} selected="selected" {% endif %} value="Passport">Passport</option>
                                <option {% if data.user['personal_info']['document'] == 'ID' %} selected="selected" {% endif %} value="ID">ID</option>
                           </select>
                        </div>
                        <div class="clearfix"></div>
                         <div class="row">
                           <div class="col-md-6">
                              <div class="form-group ">
                                 <label class="control-label">
                                    Country 
                                    <star>*</star>
                                 </label>
                                 <select class="form-control" name="country" required="required" >
                                       {% for item in data.data_country %} 
                                       <option {% if data.user['personal_info']['country'] == item.country_name %} selected="selected" {% endif %}
                                           data-id="{{item.dialling_code}}" value="{{item.country_name}}">{{item.country_name}}</option>
                                       {% endfor %} 
                                    </select>
                                 
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group ">
                                 <label class="control-label">
                                    Gender 
                                    <star>*</star>
                                 </label>
                                 <select name="gender" class="form-control" required="true">
                                      <option {% if data.user['personal_info']['gender'] == 'Male' %} selected="selected" {% endif %} value="Male">Male</option>
                                      <option {% if data.user['personal_info']['gender'] == 'Female' %} selected="selected" {% endif %} value="Female">Female</option>
                                 </select>
                              </div>
                           </div>
                         </div>

                        <div class="form-group ">
                           <label class="control-label">
                              ZipCode  
                              <star>*</star>
                           </label>
                           <input class="form-control" value="{{data.user['personal_info']['zipcode']}}" required="true" name="zipcode" type="text" >
                        </div>  
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group ">
                               <label class="control-label">
                                  Status Authen  
                                  <star>*</star>
                               </label>
                               <select name="status_2fa" class="form-control" required="true">
                                    <option {% if data.user['status_2fa'] == 0 %} selected="selected" {% endif %} value="0">Disable</option>
                                    <option {% if data.user['status_2fa'] == 1 %} selected="selected" {% endif %} value="1">Enlable</option>
                               </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group ">
                               <label class="control-label">
                                  Active Register  
                                  <star>*</star>
                               </label>
                               <select name="active_email" class="form-control" required="true">
                                    <option {% if data.user['active_email'] == 0 %} selected="selected" {% endif %} value="0">Disable</option>
                                    <option {% if data.user['active_email'] == 1 %} selected="selected" {% endif %} value="1">Enlable</option>
                               </select>
                            </div>
                          </div>
                        </div>
                        {% if data.user['status_verify'] == 1 %}
                        <div class="form-group ">
                           <label class="control-label">
                              Passport/ID/DL image (Fontside)   
                              <star>*</star>
                           </label>
                           
                           <div class="text-center">
                              <img width="80" src="{{data.user['personal_info']['img_passport_fontside']}}">
                           </div>
                           
                        </div>
                        {% endif %}
                     </div>

                     <div class="col-md-4">
                        <div class="form-group ">
                           <label class="control-label">
                              Passport/ID/DL number
                              <star>*</star>
                           </label>
                           <input class="form-control" value="{{data.user['personal_info']['passport']}}" required="true" name="passport" type="text" >
                        </div>
                        <div class="form-group ">
                           <label class="control-label">
                              Address 
                              <star>*</star>
                           </label>
                           <input class="form-control" value="{{data.user['personal_info']['address']}}" required="true" name="address" type="text" >
                        </div>
                        <div class="form-group ">
                           <label class="control-label">
                              State/Region  
                              <star>*</star>
                           </label>
                           <input class="form-control"  value="{{data.user['personal_info']['state']}}" required="true" name="state" type="text" >
                        </div>
                        <div class="form-group ">
                           <label class="control-label">
                              New Password
                              <star>*</star>
                           </label>
                           <input class="form-control"  value="" placeholder="New Password"  name="password" type="text" >
                        </div>
                        {% if data.user['status_verify'] == 1 %}
                        <div class="form-group ">
                           <label class="control-label">
                              Passport/ID/DL image (Backside)  
                              <star>*</star>
                           </label>
                           
                           
                           <div class="text-center">
                              <img width="80" src="{{data.user['personal_info']['img_passport_backside']}}">
                           </div>
                           
                        </div>
                        {% endif %}
                     </div>

                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label">
                              Id Date
                              <star>*</star>
                           </label>
                           <input class="form-control" value="{{data.user['personal_info']['date_passport']}}"  name="date_passport" type="date"  required="true">
                        </div>

                        <div class="form-group">
                           <label class="control-label">
                              City/Town
                              <star>*</star>
                           </label>
                           <input class="form-control" value="{{data.user['personal_info']['city']}}"  name="city" type="text" required="true">
                        </div>
                        <div class="form-group ">
                           <label class="control-label">
                              Phone 
                              <star>*</star>
                           </label>
                           <input class="form-control" value="{{data.user['personal_info']['phone']}}"  required="true" name="phone" type="text">
                        </div>
                        <div class="form-group ">
                           <label class="control-label">
                              Balance 
                              <star>*</star>
                           </label>
                           <input class="form-control" value="{{data.user['balance_wallet']}}"  required="true" name="balance_wallet" type="text">
                        </div>
                        {% if data.user['status_verify'] == 1 %}
                        <div class="form-group ">
                           <label class="control-label">
                              Proof of Addresses *
                              <star>*</star>
                           </label>
                           
                           
                           <div class="text-center">
                              <img width="80" src="{{data.user['personal_info']['img_address']}}">
                           </div>
                           
                           
                           
                        </div>
                        {% endif %}
                     </div>
                     
                     
                     <input type="hidden" name="token_crt" value="{{data.token_crt}}">
                     
                     <div class="text-center">
                        <button type="submit" class="btn btn-rose btn-fill btn-wd">Update</button>
                     </div>
                  </div>
               </form>







              
               
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
<div class="row" style="display: none;" >
    
</div>

{% endblock %}

